<div class="container">
	<h2>Welcome</h2>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Please select one of the operation</h4>
				</div>
				<div class="panel-body">
					<a class="btn btn-info" role="button" href="#atrp">Analog Time
						Reading Practice</a> <a class="btn btn-info" role="button"
						href="#mathp">Math Practice</a> <a class="btn btn-info"
						role="button" href="#srch">Search</a>
				</div>
			</div>
		</div>
	</div>
</div>